<!DOCTYPE html>
<html>
<head>
  <title>Drought</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.ripples' %>
  <%= javascript_include_tag 'jquery-flipcounter' %>
  <%= javascript_include_tag 'graph' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
